CX Token <a href="https://cse.google.com">google link to create a new CX</a>
<p>
  <label>
    CX for Youtube
  </label>

 <%= text_field_tag("settings[cx_youtube]",  settings['cx_youtube']) %>
</p>

<p>
  <label>
    CX for Slideshare
  </label>

  <%= text_field_tag("settings[cx_slideshare]",  settings['cx_slideshare']) %>
</p>

<p>
  <label>
    CX for Vimeo
  </label>

  <%= text_field_tag("settings[cx_vimeo]",  settings['cx_vimeo']) %>
</p>

<p>
  <label>
    CX for Scribd
  </label>

  <%= text_field_tag("settings[cx_scribd]",  settings['cx_scribd']) %>
</p>

<p>
  <label>
    CX for Quora
  </label>

  <%= text_field_tag("settings[cx_quora]",  settings['cx_quora']) %>
</p>
