<% if @results %>
    <div id="search-results-counts">
      <%= render_results_by_type(@result_count_by_type) unless @scope.size == 1 %>
    </div>
    <h3><%= l(:label_result_plural) %> (<%= @result_count %>)</h3>
    <dl id="search-results">
      <% @results.each do |e| %>
          <dt class="<%= e.event_type %> icon icon-<%= e.event_type %>">
            <%= content_tag('span', e.project, :class => 'project') unless @project == e.project %>
            <%= link_to(highlight_tokens(e.event_title.truncate(255), @tokens), e.event_url) %>
          </dt>
          <dd><span class="description"><%= highlight_tokens(e.event_description, @tokens) %></span>
            <span class="author"><%= format_time(e.event_datetime) %></span></dd>
      <% end %>
    </dl>
<% end %>

<% if @result_pages %>
    <span class="pagination"><%= pagination_links_full @result_pages, @result_count, :per_page_links => false %></span>
<% end %>