<div class="container">
  <%= form_tag '/global_search', id: 'search_form' do %>
      <fieldset>
        <legend>
          Choices
        </legend>
        <%= radio_button_tag 'website[]', :redmine, true %> AuthorDock
        <%= radio_button_tag 'website[]', :slideshare %> Slideshare
        <%= radio_button_tag 'website[]', :youtube %> Youtube
        <%= radio_button_tag 'website[]', :vimeo  %> Vimeo
        <%= radio_button_tag 'website[]', :scribd %> Scribd
        <%= radio_button_tag 'website[]', :quora %> Quora
        <%= radio_button_tag 'website[]', :linkedin %> LinkedIn
        <%= radio_button_tag 'website[]', :twitter %> Twitter
        <%= radio_button_tag 'website[]', :google %> Google Books
      </fieldset>
      <span id="google_search_field"></span>
      <%= text_field_tag(:query, params[:query], :size => 80, :maxlength => 255, :required => true) %>
      <%= submit_tag l('label_search'), id: 'submit_form_button' %>
  <% end %>


  <script>
      var last_research = '';
      function get_google_search(key){
          var cx = key;
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
      }
      $(document).ready(function(){

//          $('#search_form').on('submit', function(e) {
//              e.preventDefault();
//          });
          $('input[name="website[]"]').on('change', function(e){
              $('#query').hide();
              $('#submit_form_button').hide();
              website = document.querySelector('input[name="website[]"]:checked').value;
              if(last_research !== website) {
                  $('#google_search_field').html("<gcse:search ></gcse:search>")
                  last_research = website;
                  switch(website)
                  {
                      case 'vimeo': get_google_search("<%= Setting.plugin_redmine_search['cx_vimeo'] %>"); break;
                      case 'quora': get_google_search("<%= Setting.plugin_redmine_search['cx_quora'] %>"); break;
                      case 'slideshare': get_google_search("<%= Setting.plugin_redmine_search['cx_slideshare'] %>"); break;
                      case 'scribd': get_google_search("<%= Setting.plugin_redmine_search['cx_scribd'] %>"); break;
                      case 'google': get_google_search("<%= Setting.plugin_redmine_search['cx_google'] %>"); break;
                      case 'youtube': get_google_search("<%= Setting.plugin_redmine_search['cx_youtube'] %>"); break;
                      case 'twitter': get_google_search("<%= Setting.plugin_redmine_search['cx_twitter'] %>"); break;
                      case 'linkedin': get_google_search("<%= Setting.plugin_redmine_search['cx_linkedin'] %>"); break;
                      default:
                      {
                          $('#google_search_field').hide()
                          $('#query').show()
                          $('#submit_form_button').show()

                      }
                  }
              }
          })
      })
  </script>


  <div id="redmine_result">
    <%= render partial: 'result' %>
  </div>
</div>
